@import '../settings.scss';

.accordion {
    margin: 20px auto;
    padding: 6px 10px;

    &__title {
        background-color: $color4-l;
        padding: 10px;
        font-size: 12pt;
        margin: 0;
        font-weight: 200;
        color: $color4-d;

        svg {
            margin: 0 6px 0 6px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__body {
        position: relative;
        padding: 6px 10px;
        //color: $color2;
        border-top: 1px solid $color4;
        margin: 0;
        //background-color: #f5ffff;
    }

    &__button {
        width: 100%;
        text-align: left;
        background: none;
        border: none;
        

        

        &:focus {
            outline: none;
        }
    }
}
