//@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Source+Sans+Pro:wght@200;400&display=swap');

//@import url('https://fonts.googleapis.com/css2?family=Life+Savers&family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Sofia&display=swap');

@import './settings.scss';

body {
    font-family: 'Roboto Slab', serif;
    font-size: 10pt;
    color: $color1;
    background: #fff;
}

h1,
h2,
h3 {
    font-family: 'Sofia', cursive;
}

a,
a:visited,
a:active {
    color: $color3;
    text-decoration: none;
    text-shadow: 0px 1px 2px $color3-l;
}

a:hover {
    color: $color3-d;
}
